/* Register your custom font family and tell the browser where to find it. */
@font-face {
    font-family: 'RedditSans-bold';
    src: url('/fonts/RedditSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RedditSans-italic';
    src: url('/fonts/RedditSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RedditSans-light';
    src: url('/fonts/RedditSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RedditSans-regular';
    src: url('/fonts/RedditSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RedditSans-semi-bold';
    src: url('/fonts/RedditSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}